

<ul class="nav nav-tabs">
    <li role="presentation">@Html.ActionLink("LecturersList", "LecturersList", "Lecturers")</li>
    <li role="presentation">@Html.ActionLink("Create a Profile", "Create", "Lecturers")</li>
</ul>
