@{
    ViewBag.Title = "Home Page";
}

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>

<!-- Home start -->
<section id="home" class="pfblock-image screen-height" style="height: 365px; background-position: 100% 0px;">
    <div class="home-overlay"></div>
    <div class="intro">
        <h1> WWW.AJDEDAUCIME.MK </h1>
        <div>
            <img class="img-responsive center-block" src="~/Content/Images/logoCover.png" />
        </div>
      
    </div>
    <a href="#services">
        <div class="scroll-down">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
        </div>
    </a>
</section>
<!-- Home end -->


 <!-- Services start -->
<section id="services" class="pfblock pfblock-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">ОБЛАСТИ</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-magic-wand"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Програмирање</h3>
                        <div class="iconbox-desc">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInLeft">
                    <div class="iconbox-icon">
                        <span class="icon-puzzle"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Странски јазици</h3>
                        <div class="iconbox-desc">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-badge"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Училишни предмети</h3>
                        <div class="iconbox-desc">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow slideInRight">
                    <div class="iconbox-icon">
                        <span class="icon-question"></span>
                    </div>
                    <div class="iconbox-text">
                        <h3 class="iconbox-title">Музика и уметност</h3>
                        <div class="iconbox-desc">

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- Services end -->
<!-- Portfolio start -->
<section id="portfolio" class="pfblock">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">Зошто да го користите Ајде да учиме? </h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        Сервисот е создаден за да одговори на потребите на двете страни, односно за лицата кои нудат приватни часови да ги истакнат сите потребни информации преку персонализиран профил, додека учениците и студентите да можат на најлесен начин да дојдат до приватните часови кои тие ги бараат. 
                    </div>
                </div>
            </div>
        </div><!-- .row -->


        <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="grid wow zoomIn">
                    <figure class="effect-bubba">
                        <img src="~/Content/Images/item-1.jpg" alt="img01" />
                        <figcaption>
                            <h2> Достапност <span>и брзина</span></h2>
                            <p>Доколку барате подучувач за Вашето дете, за некое ново хоби или помош за училишните предмети.</p>
                        </figcaption>
                    </figure>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="grid wow zoomIn">
                    <figure class="effect-bubba">
                        <img src="~/Content/Images/item-2.jpg" alt="img01" />
                        <figcaption>
                            <h2>Помош <span>и забава</span></h2>
                            <p>Доколку се подготвувате за некој тест, испит или писмена работа. </p>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="grid wow zoomIn">
                    <figure class="effect-bubba">
                        <img src="~/Content/Images/item-3.jpg" alt="img01" />
                        <figcaption>
                            <h2>Не <span>паничете</span></h2>
                            <p>Доколку се подготвувате за некој натпревар </p>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="grid wow zoomIn">
                    <figure class="effect-bubba">
                        <img src="~/Content/Images/item-4.jpg" alt="img01"/>
                        <figcaption>
                            <h2>Иновативност <span>и креативност</span></h2>
                            <p>Сакате да научите некое ново интересно хоби </p>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="grid wow zoomIn">
                    <figure class="effect-bubba">
                        <img src="~/Content/Images/item-5.jpg" alt="img01">
                        <figcaption>
                            <h2>Ефикасност <span>и ефективност</span></h2>
                            <p>Се подготвувате за некое работно место</p>
                        </figcaption>
                    </figure>
                </div>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="grid wow zoomIn">
                    <figure class="effect-bubba">
                        <img src="~/Content/Images/item-6.jpg" alt="img01" />
                        <figcaption>
                            <h2>Професионален напредок<span>и надоградба</span></h2>
                            <p>Едноставно сакате да учите нови работи и да ги подобрувате своите вештини </p>
                        </figcaption>
                    </figure>
                </div>

            </div>

        </div>

    </div><!-- .contaier -->
</section>
<!-- Portfolio end -->
<!-- Skills start -->

<section class="pfblock pfblock-gray" id="skills">

    <div class="container">

        <div class="row skills">
               
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title"> ЗА НАС</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            Користењето на овој сервис заменува многу слични медиуми, истовремено нудејќи единствена можност да се рекламирате само на луѓето кои бараат приватни часови.
                        </div>
                    </div>
                </div>
            </div><!-- .row -->

            <div class="col-sm-6 col-md-3 text-center">
                <span data-percent="80" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                    <span class="percent">80</span>
                </span>
                <h3 class="text-center">Музика и уметност</h3>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <span data-percent="90" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                    <span class="percent">90</span>
                </span>
                <h3 class="text-center">Странски јазици</h3>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <span data-percent="85" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                    <span class="percent">85</span>
                </span>
                <h3 class="text-center">Програмирање</h3>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <span data-percent="95" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                    <span class="percent">95</span>
                </span>
                <h3 class="text-center">Образование</h3>
            </div>

        </div><!--End row -->

    </div>

</section>

<!-- Skills end -->

<!-- Testimonials start -->
<section id="testimonials" class="pfblock pfblock-gray">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="pfblock-header wow fadeInUp">
                    <h2 class="pfblock-title">Задоволни корисници</h2>
                    <div class="pfblock-line"></div>
                    <div class="pfblock-subtitle">
                        
                    </div>
                </div>
            </div>
        </div><!-- .row -->
        <div class="row">
            <div id="cbp-qtrotator" class="cbp-qtrotator">
                <div class="cbp-qtcontent">
                    <img src="~/Content/Images/client-1.jpg" alt="client-1" />
                    <blockquote>
                        <p> Користењето на овој сервис ми овозможи да најдам голем број на луѓе на кои им требаат моите услуги. Супер сервис. Само продолжете така!</p>
                        <footer>Игор, Скопје</footer>
                    </blockquote>
                </div>
                <div class="cbp-qtcontent">
                    <img src="~/Content/Images/client-2.jpg" alt="client-2" />
                    <blockquote>
                        <p>Јас сум навистина среќна со постигнатите резултати. Успеав да најдам подучувачи кои целосно одговараат на моите потреби и можности. </p>
                        <footer> Ивана, Скопје</footer>
                    </blockquote>
                </div>
            </div>
        </div><!-- .row -->

    </div><!-- .row -->
</section>
<!-- Testimonial end -->







